*
{
  margin: 0px;
  padding: 0px;
}
html,body
{
  height: 100%;
  overflow: hidden;
}
body
{
  background-image: url(pic/B.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;     

}
header
{
  border-style: solid;
  border-width: 5px;
  height: 200px;
}
.topic
{
  display: inline-block;
  position: relative;
  border-style: solid;
  border-width: 5px;
  width: 60%;
  height: 80px;    
  text-align:center;
  top: 20%;
  left: 20%;
  background-color: #bfb7b775;
}
.sideleft
{
  position: relative;
  /*border-style: solid;
  border-width: 5px;*/
  width: 10%;
  height: 70%;       
  padding: 0px;
  text-align:center;
  float: left;
  top:10%;
  line-height: 40px;
  /*background-color: #bfb7b775;*/
}

.sideright
{
  position: relative;
  /*border-style: solid;
  border-width: 5px;*/
  width: 10%;
  height: 70%;      
  padding: 0px;
  text-align:center;
  float: left;
  top:20%;    
  line-height: 40px;
  /*background-color: #bfb7b775;*/
}
.member
{
  display: inline-block;
  position: relative;
  border-style: solid;
  border-width: 3px;
  width: 8vw;
  height: 8vw; 
  background-color: #bfb7b775;
  border-radius:50%;
}
.liecat
{
  position: absolute;
  left: 24%;
  bottom: -20%;
  height: 730px;
  opacity:1.0;
}
.title
{
  position: absolute;
  left: 43%;
  bottom: -0%;
  height: 400px;
}
.upcat
{
  position: absolute;
  left: 49.1%;
  bottom: -20%;
  height: 730px;
  opacity:0.0;
}
#f1
{
  position: absolute;
  left: -130%;
  bottom: -40%;
  height: 450%;
  transform: rotate(-10deg); 
  z-index: -1;
  /*
  left: -55%;
   */
}
#f2
{
  position: absolute;
  left: -108%;
  bottom: -20%;
  height: 300%;
  transform: rotate(-15deg);
  z-index: -1;
  /*
  left: -23%;
   */
}
#f3
{
  position: absolute;
  left: -140%;
  bottom: -36%;
  height: 385%;
  transform: rotate(-10deg); 
  z-index: -1;
  /*
  left: -46%;
   */
}
#f4
{
  position: absolute;
  left: -140%;
  bottom: -44%;
  height: 367%;
  transform: rotate(-10deg); 
  z-index: -1;
  /*
  left: -33%;
   */
}
#f5
{
  position: absolute;
  left: -140%;
  bottom: -72%;
  height: 376%;
  transform: rotate(-10deg); 
  z-index: -1;
  /*
  left: -22%;
   */
}
#f6
{
  position: absolute;
  left: -140%;
  bottom: -53%;
  height: 347%;
  transform: rotate(-10deg); 
  z-index: -1;
  /*
  left: -25%;
   */
}
#f7
{
  position: absolute;
  left: -140%;
  bottom: -40%;
  height: 376%;
  transform: rotate(-3deg);
  z-index: -1;
  /*
  left: -25%;
   */
}

.intro
{
  position:absolute;
  left:35%;
  top:10%;
  height:220px;
  width:540px;
  border-radius:25px;
  padding:20px;
  background-color:#231815;
  opacity:0.9;
  color:white;
  font-family:Microsoft JhengHei;
  font-size:18px;
  display:none;
}

.name{
  font-size: 25px;
  font-weight:bold;
}

.department{
  font-size:20px;
}
#member1
{
  background-image: url(N/P01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#member2
{
  background-image: url(N/P02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#member3
{
  background-image: url(N/P03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#member4
{
  background-image: url(N/P04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#member5
{
  background-image: url(N/P05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#member6
{
  background-image: url(N/P06.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#member7
{
  background-image: url(N/P07.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#member8
{
  background-image: url(pic/T01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


