/*背景*/
body,html{
    overflow: hidden;
}
.bg{
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 740px;
    z-index: -1000;
}
/*初始畫面*/
#scene_init{
    background:url(pic/B.png);
    background-repeat: no-repeat;
    background-attachment: fixed
    background-position: center;
    background-size: cover;    
}
#cat{
    position: absolute;
    left: 24%;
    bottom: -20%;
    width:940px;
    height:730px;
    z-index: 1000;
}
#topic{
    position: absolute;
    left: 43%;
    bottom: -0%;
    width:520px;
    height: 400px;
    z-index: 1000;
}
#lbName{
    position: absolute;
    left:70px;
    top:120px;
    font-size: 24px;
    font-weight:bold;
}
#txName{
    position: absolute;
    left:160px;
    top:120px;
    font-size: 24px;
    width:200px;
}
#btnStart{
    position: absolute;
    left:100px;
    top:180px;
    width: 250px;
    height: 40px;
    font-size:21px;
    cursor:pointer;
}
div{
    font-size: 48px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
    cursor:default;
}

/*故事背景圖*/
#scene_plot{
    background:url(pic/house.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

/*角色圖*/
#character{
    position: absolute;
    left:10px;
    top:220px;
    width: 123px;
    height: 110px;
    background:url(pic/I.jpg);
}
#convers{
    position: absolute;
    left:0px;
    top:500px;
    width: 99%;
    height: 90px;
    border-radius:25px;
    padding:10px;
    background-color:#231815;
    opacity:0.9;
    color:white;
    font-family:Microsoft JhengHei;
    font-size:20px;
    /*background:gray;
    padding:10px;
    font-size:18px;*/
}

#sensor{
    z-index:1000;   /* sensor類似於背景，但是變成全景點選，因此要改在最前面 */
}

/*選項*/
#select1,#select2{ 
    cursor: pointer; 
    background-color:red; 
    font-size:24px; 
    font-family:Microsoft JhengHei;
    position:absolute; 
    left: 150px; 
    z-index: 1500; 
}
#select1{
    top: 240px;
}
#select2{
    top: 280px;
}