*{
  margin: 0px;
  padding: 0px;
}
body{
    height: 100%;
    overflow: hidden;
}
#enter_bag {
    background-image: url("assets/bag/b1.png");
    background-size: contain;
    width: 8vw;
    height: 8vw;
    right: 1vw;
    background-repeat:no-repeat;   
    position: absolute;
    border-radius:1vw;    
    z-index: 2000;
}
#back_img {
    background-image: url("assets/bag/b2.png");
    background-size: contain;
    width: 8vw;
    height: 8vw;
    right: 1vw;
    background-repeat:no-repeat;   
    position: absolute;
    display: none;
    border-radius:1vw;    
    z-index: 2000;
}


#menu {
    background-image: url("assets/bag/background.png");
    background-size: cover;
    width: 85vw;
    height: 75vh; 
    right: 1vw;
    top:15vh;
    background-repeat:no-repeat;   
    position: absolute;
    margin: 0vw;
    padding: 2vw;    
    display: none;
    border-radius:1vw;
    z-index: 2000;    
}

#look {
    background-color: burlywood;
    background-size: cover;
    width: 68vw;
    height: 84vh; 
    top: 6vh;
    background-repeat:no-repeat;   
    position: fixed;
    display: none;
    left: 19vw;
    margin: 0vw;
    padding: 2vw;  
    border-radius:1vw;
    z-index: 2001;         
}

#item_img{
    background-image: url(assets/bag/background2.png);
    background-size: contain;
    width: 28vw;
    height: 28vw;
    margin-left: 7%;
    margin-top: 3%;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 2000;
}
#item_detail{
   background-color: blanchedalmond;
    background-size: contain;
    width: 31vw;
    overflow:scroll;
    height: 75vh;
    margin-left: 0%;
    margin-top: 3%;
    background-repeat: no-repeat;
    float: right;
    border-radius: 1vw;
    padding: 2vw;
    font-size: 0.8em;
    z-index: 2000;      
}

#tag {
    background-size: contain;
    width: 20vw;
    height: 8vw; 
    left: 10vw;
    background-repeat:no-repeat;   
    position: absolute;
    display: block;
    border-radius:1vw; 
    z-index: 2000;   
}

#look_bag {
    background-image: url("assets/bag/look_bag.png");
    background-size: contain;
    width: 30vw;
    height: 43vw; 
    margin-left: 10%;
    display:inline-block;       
    background-repeat:no-repeat;
    z-index: 2000;   
}
#look_text {
    background-image: url("assets/bag/look_text.png");
    background-size: contain;
    width: 30vw;
    height: 43vw; 
    margin-left: 10%; 
    display:inline-block;   
    background-repeat:no-repeat;
    z-index: 2000;   
}

.items {
    background-image: url("assets/bag/background2.png");
    background-size: contain;
    width: 14vw;
    height: 14vw; 
    margin-left: 7%;
    margin-top: 3%;    
    background-repeat:no-repeat;
    display: none;
    z-index: 2000;       
}
.histories {
    background-image: url("assets/bag/background2.png");
    background-size: contain;
    width: 14vw;
    height: 14vw; 
    margin-left: 7%;
    margin-top: 3%;        
    background-repeat:no-repeat;
    display: none;
    z-index: 2000;       
}

.item_img{
    width: 95%;
    height: 95%; 
    z-index: 2000;
}
.item_img_in{
    background-image: url("assets/item/item3.png");
    background-size: contain;
    width: 95%;
    height: 95%;
    background-repeat:no-repeat;
    display: block;
    z-index: 2000;
}

