/*背景*/
body,html{
    overflow: hidden;
}
.bg{
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 740px;
    z-index: -1000;
}
/*初始畫面*/
#scene_init{
    background:url(pic/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed
    background-position: center;
    background-size: cover; 
    height:100%;
}
#cat{
    position: absolute;
    left: -1%;
    top: 100%;
    z-index: -1001;
}
#topic{
    position: absolute;
    left: 43%;
    bottom: -0%;
    width:520px;
    height: 400px;
    z-index: 1000;
}
#aboutus{
    position: absolute;
    right:10px;
    top:0px;
    z-index: 1000;
}
#lbName{
    position: absolute;
    left:70px;
    top:120px;
    font-size: 24px;
    font-weight:bold;
}
#txName{
    position: absolute;
    left:35%;
    top:16%;
    font-size: 26px;
    width:320px;
    z-index: 1;
}
#idform{
    position: absolute;
    top:5%;
    left:26%;
}
#umm{
    position: absolute;
    left:46%;
    top:54%;
    cursor: pointer;
}
.btncheck{
    background: url(pic/check.png);
    position: absolute;
    border: 0px;
    left:35%;
    top:29%;
    width:100px;
    height:100px;
    z-index: 1500;
}
.btnreset{
    background: url(pic/reset.png);
    position: absolute;
    border: 0px;
    left:59%;
    top:29.5%;
    width:100px;
    height:100px;
    z-index: 1500;
}
#btnStart{
    position: absolute;
    left:32%;
    top:54%;
    z-index: 2000;
    cursor:pointer;
}
div{
    font-size: 48px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;                                     
    cursor:default;
}

/*故事背景圖*/
#scene_plot{
    background:url(pic/house.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

/*角色圖*/
#character{
    position: absolute;
    left:25px;
    top:100px;
    width: 350px;
    height: 451px;
    background:url(pic/I.jpg);
    z-index: -1;
}
#convers{
    position: absolute;
    left:0px;
    bottom:0px;
    width: 100%;
    height: 130px;
    border-radius:15px;
    padding:10px;
    background-color:#231815;
    opacity:0.9;
    color:white;
    font-family:Microsoft JhengHei;
    font-size:34px;
    line-height: 50px;
    box-sizing: border-box;
    /*background:gray;
    padding:10px;
    font-size:18px;*/
}

#sensor{
    z-index:1000;   /* sensor類似於背景，但是變成全景點選，因此要改在最前面 */
}

/*選項*/
#select1,#select2,#select3{ 
    cursor: pointer; 
    background-color:gray;
    color:white;
    font-size:28px;
    font-weight:200; 
    font-family:Microsoft JhengHei;
    position:absolute; 
    left: 380px; 
    z-index: 1500;
    box-shadow: 0 10px 30px -4px #000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding: 1px 15px;
    border-radius: 8px;
}
#select1{
    top: 240px;
}
#select2{
    top: 280px;
    margin-top: 15px;
}
#select3{
    top: 320px;
    margin-top: 30px;
}
/*離開物件測試*/
#leave{
    position: absolute;
    top:20px;
    right:20px;
    z-index: 2000;
    cursor:pointer;
}

.back{
    position: absolute;
    top:20px;
    right:20px;
    z-index: 2000;
    cursor: pointer;
}

#switchpic{
    position: absolute;
    background:url(pic/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    z-index: 1500;
}

#btnnext{
	position: absolute;
    border:1px;
	left: 43%;
	top:52%;
	width: 150px;
	height: 100px;
	font-size:40px;
    cursor:pointer;
	z-index: 2000;
}
/*離開物件測試結束*/

.object{
    position: absolute;
    top:20%;
    left:30%;
    z-index: 2000;
    cursor: pointer;
}

.object img {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    box-shadow: 0 10px 30px -8px #000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}